@use 'reset';
@use 'variables/global';

// @font-face {
//   font-family: 'Montserrat';
//   src: url('../../shared/assets/font/Montserrat-VariableFont_wght.ttf') format('woff2');
//   font-weight: bold;
//   font-style: normal;
// }

body {
  font-family: var(--font-family-main);
  color: var(--primary-color);
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
}

a,
li {
  color: var(--primary-color);
}

*::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

*::-webkit-scrollbar-track {
  background-color: black;
}

*::-webkit-scrollbar-thumb {
  background-color: #10291d;
  border-radius: 20px;
  border: 1px solid #10291d;
}
