:root {
  --font-family-main: 'Montserrat', "Aria", sans-serif;

  --primary-color: white;
  --inverted-color: black;

  --bg-navbar: black;
  --bg-recommendation-list: black;

  //fonts-size
  --font-size-s: 8px;
  --font-size-m: 17px;
  --font-size-l: 32px;

  --font-size-about-section: 18px


  --font-size-xl: 64px;
  --font-weight-xl: 900;

  --btn-border-radius: 20px;
  --btn-bg: black;
  --btn-inverted-bg: white;
  --btn-font-weight: 700;
}
