.IllustrationBlockInfo {
  margin-top: 50px;
  margin-right: 200px;
  width: 350px;
}

.title {
  text-align: center;
  font-size: 64px;
  font-weight: 900;
}

.subtitle {
  text-align: center;
  font-size: 32px;
}

.description {
  text-align: center;
  padding: 0 15px;
  margin-top: 20px;
}

.IllustrationBlock {
  display: flex;
  justify-content: flex-end;
}

.descriptionBlock {
  text-align: center;
  margin-left: 120px;
  margin-top: 390px;
  width: 350px;
}

.book {
  &Img {
    position: absolute;
    width: 900px;
  }
  &-1 {
    left: 50px;
    top: 50px;
  }

  &-2 {
    left: 700px;
    top: 600px;
  }
  &-3 {
    left: 0px;
    top: 900px;
  }

  &-3-down {
    top: 1050px;
  }

  &-4 {
    top: 1500px;
    right: 100px;
  }

  &-4-down {
    top: 1550px;
  }

  &-5 {
    top: 1700px;
    left: 0px;
  }

  &-5-down {
    top: 2000px;
  }

  &-6 {
    left: 600px;
    top: 2300px;
  }
}

/* REVERSE */
.reverse {
  &-book {
    &-1 {
      left: 50px;
      top: 50px;
    }

    &-2 {
      left: 700px;
      top: 700px;
    }
    &-3 {
      left: 0px;
      top: 1150px;
    }

    &-4 {
      top: 1500px;
      right: 100px;
    }

    &-5 {
      top: 2100px;
      left: 0px;
      width: 1100px;
    }
  }
}

.book-2-down {
  top: 740px;
}

@media (max-width: 1825px) {
  .book {
    &Img {
      position: absolute;
      width: 780px;
    }
  }

  .reverse {
    &-book {
      &-5 {
        width: 950px;
      }
    }
  }
}

@media (max-width: 1660px) {
  .book {
    &-1 {
      left: -50px;
    }
    &-2 {
      left: 590px;
      top: 600px;
    }
  }

  .reverse {
    &-book {
      &-1 {
        left: 0px;
      }
      &-2 {
        left: 590px;
        top: 600px;
      }
      &-5 {
        width: 1000px;
      }
    }
  }
}

@media (max-width: 1550px) {
  .book {
    &Img {
      position: absolute;
      width: 700px;
    }
  }

  .reverse {
    &-book {
      &-1 {
        left: -50px;
      }
      &-5 {
        width: 800px;
      }
    }
  }
}

@media (max-width: 1450px) {
  .book {
    &Img {
      position: absolute;
      width: 600px;
    }
    &-1 {
      left: 0px;
      top: 90px;
    }

    &-2 {
      left: 500px;
      top: 500px;
    }

    &-2-down {
      top: 650px;
    }

    &-3 {
      left: 150px;
      top: 900px;
    }

    &-3-down {
      top: 950px;
    }

    &-4 {
      top: 1350px;
      right: 100px;
    }

    &-4-down {
      top: 1450px;
    }

    &-5 {
      top: 1500px;
      left: 50px;
    }

    &-5-down {
      top: 1750px;
    }

    &-6 {
      left: 400px;
      top: 2000px;
    }
  }

  .reverse {
    &-book {
      &-1 {
        left: 0px;
        top: 50px;
      }

      &-2 {
        left: 500px;
        top: 500px;
      }
      &-3 {
        left: 150px;
        top: 1150px;
      }

      &-4 {
        top: 1500px;
        right: 100px;
      }

      &-5 {
        top: 2000px;
        left: 100px;
        width: 750px;
      }
    }
  }
}

@media (max-width: 1400px) {
  .IllustrationBlock {
    justify-content: center;
  }

  .IllustrationBlockInfo {
    margin-right: 0px;
  }

  .descriptionBlock {
    margin: 520px auto;
    padding: 0 15px;
    width: 100%;
  }

  .book {
    &Img {
      position: absolute;
      width: 500px;
    }

    &-1 {
      top: 450px;
      left: 50%;
      transform: translate(-50%);
    }

    &-2 {
      top: 1000px;
      left: 50%;
      transform: translate(-50%);
    }

    &-2-down {
      top: 1070px;
    }

    &-3 {
      top: 1400px;
      left: 50%;
      transform: translate(-50%);
    }

    &-4 {
      top: 1770px;
      right: 300px;
      left: 50%;
      transform: translate(-50%);
    }

    &-5 {
      top: 2100px;
      left: 50%;
      transform: translate(-50%);
    }

    &-5-down {
      top: 2150px;
    }

    &-6 {
      top: 2400px;
      left: 50%;
      transform: translate(-50%);
    }
  }

  .reverse {
    &-book {
      &-1 {
        top: 470px;
        left: 50%;
        transform: translate(-50%);
      }
      &-2 {
        top: 1105px;
        left: 50%;
        transform: translate(-50%);
      }
      &-3 {
        top: 1500px;
        left: 50%;
        transform: translate(-50%);
      }
      &-4 {
        top: 1865px;
        left: 50%;
        transform: translate(-50%);
      }
      &-5 {
        top: 2230px;
        left: 50%;
        transform: translate(-50%);
      }
    }
  }
}

@media (max-width: 700px) {
  .book {
    &Img {
      position: absolute;
      width: 500px;
    }
  }
}

@media (max-width: 540px) {
  .title {
    font-size: 55px;
  }

  .book {
    &Img {
      position: absolute;
      width: 400px;
    }
    &-2 {
      top: 1100px;
    }
    &-3 {
      top: 1450px;
    }
    &-5-down {
      top: 2110px;
    }
  }

  .reverse {
    &-book {
      &-2 {
        top: 1150px;
      }
    }
  }
}

@media (max-width: 500px) {
  .book {
    &Img {
      position: absolute;
      width: 100%;
    }

    &-1-down {
      top: 480px;
    }
  }

  .reverse {
    &-book {
      &-1 {
        top: 500px;
      }
    }
  }
}

@media (max-width: 415px) {
  .descriptionBlock {
    margin: 400px auto;
    padding: 0 15px;
    width: 100%;
  }

  .book {
    &-1 {
      top: 450px;
    }
    &-2 {
      top: 1000px;
    }
    &-3 {
      top: 1250px;
    }
    &-4 {
      top: 1500px;
    }
    &-5 {
      top: 1750px;
    }
    &-6 {
      top: 2000px;
    }
  }

  .book {
    &-1-down {
      top: 500px;
    }
    // &-2-down {
    //   top: 1050px;
    // }
    &-3-down {
      top: 1250px;
    }
    &-4-down {
      top: 1500px;
    }
    &-5-down {
      top: 1750px;
    }
    &-6-down {
      top: 2000px;
    }
  }

  .reverse {
    &-book {
      &-1 {
        top: 535px;
      }
      &-2 {
        top: 1140px;
      }
      &-3 {
        top: 1410px;
      }
      &-4 {
        top: 1660px;
      }
      &-5 {
        top: 1910px;
      }
      &-6 {
        top: 2160px;
      }
    }
  }
}
