.wrapperBaggage {
  margin-top: 20px;
  height: 3400px;
  background: url('@/shared/assets/pictures/illustration/baggage-illustrationBg.png') no-repeat center center;
  background-size: cover;
  position: relative;
}
