.blockTitle {
  width: 350px;
  padding-top: 130px;
}

.block {
  margin-top: 10px;
  margin-right: 250px;
  display: flex;
  justify-content: flex-end;
}

.mainTitle {
  text-align: center;
  font-size: 50px;
  font-weight: 900;
}

.titleYear {
  text-align: center;
  font-size: 32px;
}

.desc {
  margin-top: 20px;
  text-align: center;
}

.imgGraphics {
  &-1 {
    position: absolute;
    top: 130px;
    left: 300px;
    width: 430px;
  }
  &-2 {
    position: absolute;
    width: 400px;
    top: 700px;
    right: 220px;
  }
  &-3 {
    position: absolute;
    width: 430px;
    left: 300px;
    top: 900px;
  }
}

.imgGraphics {
  &-1-reverse {
    position: absolute;
    top: 130px;
    left: 200px;
    width: 700px;
  }
  &-2-reverse {
    position: absolute;
    width: 700px;
    top: 700px;
    right: 450px;
  }
  &-3-reverse {
    position: absolute;
    width: 700px;
    left: 200px;
    top: 1300px;
  }
}

@media (max-width: 1790px) {
  .imgGraphics {
    &-1-reverse {
      left: 100px;
    }
  }
}

@media (max-width: 1670px) {
  .imgGraphics {
    &-1 {
      left: 150px;
      width: 400px;
    }
    &-2 {
      width: 380px;
    }
    &-3 {
      left: 150px;
      width: 400px;
    }
  }

  .imgGraphics {
    &-1-reverse {
      left: 50px;
      width: 600px;
    }
    &-2-reverse {
      width: 600px;
    }
    &-3-reverse {
      width: 600px;
    }
  }
}

@media (max-width: 1635px) {
  .blockReverse {
    margin: 0;
    justify-content: center;
  }

  .blockTitleReverse {
    width: 600px;
    padding: 130px 30px 0 30px;
  }

  .imgGraphics {
    &-1-reverse {
      left: 50%;
      transform: translateX(-50%);
      width: 500px;
      top: 500px;
    }
    &-2-reverse {
      left: 50%;
      transform: translateX(-50%);
      width: 500px;
      top: 900px;
    }
    &-3-reverse {
      left: 50%;
      transform: translateX(-50%);
      width: 500px;
    }
  }
}

@media (max-width: 1450px) {
  .mainGraphicBlock {
    margin: 0;
    justify-content: center;
  }

  .mainGraphicTitleBlock {
    padding: 130px 30px 0 30px;
    width: 600px;
  }

  .imgGraphics {
    &-1 {
      left: 50%;
      transform: translateX(-50%);
      top: 500px;
      width: 300px;
    }
    &-2 {
      left: 50%;
      transform: translateX(-50%);
      top: 1000px;
      width: 300px;
    }
    &-3 {
      left: 50%;
      transform: translateX(-50%);
      top: 1500px;
      width: 300px;
    }
  }
}

@media (max-width: 800px) {
  .imgGraphics {
    &-1 {
      top: 600px;
      width: 300px;
    }
    &-2 {
      top: 1100px;
      width: 300px;
    }
    &-3 {
      top: 1600px;
      width: 300px;
    }
  }

  .imgGraphics {
    &-1-reverse {
      width: 450px;
    }
    &-2-reverse {
      width: 450px;
    }
    &-3-reverse {
      width: 450px;
    }
  }
}

@media (max-width: 730px) {
  .imgGraphics {
    &-1-reverse {
      width: 90%;
      top: 600px;
    }
    &-2-reverse {
      width: 90%;
      top: 950px;
    }
    &-3-reverse {
      width: 90%;
    }
  }
}

@media (max-width: 400px) {
  .imgGraphics {
    &-1 {
      top: 700px;
      width: 300px;
    }
    &-2 {
      top: 1200px;
      width: 300px;
    }
    &-3 {
      top: 1700px;
      width: 300px;
    }
  }

  .imgGraphics {
    &-1-reverse {
      top: 670px;
    }
    &-3-reverse {
      top: 1245px;
    }
  }
}
