.etchingPage {
  // position: relative;
  background: var(--inverted-color);
  padding: 100px 150px;
}

.etchingTitle {
}

.EtchingBlockFirst {
  margin-top: 80px !important;
}

@media (max-width: 770px) {
  .etchingPage {
    padding: 100px 50px;
  }
}

@media (max-width: 570px) {
  .etchingTitle {
    margin-bottom: 230px;
  }
}
