.Navbar {
  z-index: 30;
  position: fixed;
  width: 100%;
  background: var(--bg-navbar);
  height: 60px;
  opacity: 0.8;
  padding: 0 120px;
}

.NavbarIcon {
  width: 30px;
  height: 30px;
  fill: white;
  cursor: pointer;
  :hover {
    fill: #6cc68d;
  }
}

.wrapperText {
  height: 100%;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.textNavbar {
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    transform: scale(1.1);
    color: #aeffbf;
  }
}

.hamburgerWrapper {
  display: none;
  width: 30px;
}

.line {
  display: block;
  width: 100%;
  height: 2px;
  background: white;
}

.line2 {
  margin: 5px 0;
}

@media (max-width: 1024px) {
  .textNavbar {
    display: none;
  }

  .Navbar {
    padding: 0 40px;
    z-index: 100;
  }

  .hamburgerWrapper {
    display: block;
  }
}
