/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[14].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[14].oneOf[13].use[5]!./app/globals.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

input,
button,
textarea,
select {
  margin: 0;
  font: inherit;
}

a {
  text-decoration: none;
}

:root {
  --font-family-main: "Montserrat", "Aria", sans-serif;
  --primary-color: white;
  --inverted-color: black;
  --bg-navbar: black;
  --bg-recommendation-list: black;
  --font-size-s: 8px;
  --font-size-m: 17px;
  --font-size-l: 32px;
  --font-size-about-section: 18px;
  --font-size-xl: 64px;
  --font-weight-xl: 900;
  --btn-border-radius: 20px;
  --btn-bg: black;
  --btn-inverted-bg: white;
  --btn-font-weight: 700;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/mont/Montserrat-Thin.woff2") format("woff2"), url("/fonts/mont/Montserrat-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/mont/Montserrat-Regular.woff2") format("woff2"), url("/fonts/mont/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/mont/Montserrat-Black.woff2") format("woff2"), url("/fonts/mont/Montserrat-Black.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: var(--font-family-main);
  color: var(--primary-color);
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
}

a,
li {
  color: var(--primary-color);
}

*::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

*::-webkit-scrollbar-track {
  background-color: black;
}

*::-webkit-scrollbar-thumb {
  background-color: #10291d;
  border-radius: 20px;
  border: 1px solid #10291d;
}
/*!*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[14].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[14].oneOf[9].use[5]!./src/shared/ui/Popover/Popover.module.scss ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Popover_Popover__ZUOVi {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: black;
  z-index: 100;
  opacity: 0.96;
  transition: 0.3s;
}

.Popover_btnSwitch__p1vW9 {
  position: static;
  background-color: white;
  color: black;
  transform: translate(-50%, -50%);
}

.Popover_cross__2ntmI {
  font-size: 50px;
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
}

.Popover_activePopover__Krtvh {
  left: 0;
}

.Popover_textPopover__uQNAV {
  font-size: 30px;
  margin-bottom: 20px;
}
/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[14].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[14].oneOf[9].use[5]!./src/widgets/Navbar/ui/Navbar.module.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Navbar_Navbar___a7Y0 {
  z-index: 30;
  position: fixed;
  width: 100%;
  background: var(--bg-navbar);
  height: 60px;
  opacity: 0.8;
  padding: 0 120px;
}

.Navbar_NavbarIcon__HnC4S {
  width: 30px;
  height: 30px;
  fill: white;
  cursor: pointer;
}
.Navbar_NavbarIcon__HnC4S :hover {
  fill: #6cc68d;
}

.Navbar_wrapperText__Vm4Br {
  height: 100%;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.Navbar_textNavbar__TLlk4 {
  cursor: pointer;
  transition: 0.3s;
}
.Navbar_textNavbar__TLlk4:hover {
  transform: scale(1.1);
  color: #aeffbf;
}

.Navbar_hamburgerWrapper__rVKFa {
  display: none;
  width: 30px;
}

.Navbar_line__q30wP {
  display: block;
  width: 100%;
  height: 2px;
  background: white;
}

.Navbar_line2__ZLgAH {
  margin: 5px 0;
}

@media (max-width: 1024px) {
  .Navbar_textNavbar__TLlk4 {
    display: none;
  }
  .Navbar_Navbar___a7Y0 {
    padding: 0 40px;
    z-index: 100;
  }
  .Navbar_hamburgerWrapper__rVKFa {
    display: block;
  }
}
/*!*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[14].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[14].oneOf[9].use[5]!./src/shared/ui/Stack/Flex/Flex.module.scss ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Flex_Flex__1Bn9s {
  display: flex;
}

.Flex_wrap__niG0J {
  flex-wrap: wrap;
}

.Flex_justifyStart__y6t0M {
  justify-content: flex-start;
}

.Flex_justifyCenter__9pMca {
  justify-content: center;
}

.Flex_justifyEnd__fDMex {
  justify-content: flex-end;
}

.Flex_justifyBetween__gGSwE {
  justify-content: space-between;
}

.Flex_alignCenter__AOlfc {
  align-items: center;
}

.Flex_alignEnd__kTl5t {
  align-items: flex-end;
}

.Flex_alignBetween__fFG1w {
  align-items: space-between;
}

.Flex_directionRow__Y9Klj {
  flex-direction: row;
}

.Flex_directionColumn__ST_ag {
  flex-direction: column;
}

.Flex_gap4__Q5cRS {
  gap: 4px;
}

.Flex_gap8__Hwb_x {
  gap: 8px;
}

.Flex_gap16__Czq9W {
  gap: 16px;
}

.Flex_gap32__feKce {
  gap: 32px;
}

.Flex_max__NGqpD {
  width: 100%;
}
/*!*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[14].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[14].oneOf[9].use[5]!./src/widgets/LanguageSwitcher/LanguageSwitcher.module.scss ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.LanguageSwitcher_switcher__LAz5y {
  z-index: 1000;
  position: fixed;
  width: 50px;
  height: 50px;
  background-color: black;
  bottom: 50px;
  right: 50px;
  border-radius: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  cursor: pointer;
  filter: drop-shadow(0px 0px 6px white);
  transition: 0.2s;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-weight: 600;
}
.LanguageSwitcher_switcher__LAz5y:hover {
  filter: drop-shadow(0px 0px 10px white);
}

.LanguageSwitcher_phone__EAmJe {
  position: absolute;
  left: 50%;
  bottom: 100px;
  transform: translate(-50%, -50%);
  background: white;
  color: black;
  -webkit-tap-highlight-color: transparent;
}

.LanguageSwitcher_none__FjO_K {
  display: none;
}
