.mainWrapper {
  height: 2250px;
  background: url('/assets/pictures/graphics/bgNewYork.png') no-repeat center center;
  background-size: cover;
  position: relative;
}

.graphicsTitle {
  font-size: 25px;
  position: absolute;
  padding: 20px 0 0 20px;
}
